.background-image{
    background-image: url('../img/1602662881966_pic.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.large-font{
    font-size: 70px;
    color: white;
    font-weight: 900;
    text-transform:uppercase ;
    line-height: 0.8;
    font-family: Montserrat-Bold;

}
.animation{
    width: 100%;
    position: relative;
    animation-name: example;
    animation-duration: 1.8s;
    transition-timing-function: ease-in-out;
  }
  
  @keyframes example {
    from {
        left: -70%;
        opacity:0;
    }
    to {
        left: 0%;
        opacity: 1;
    }
  }
.btn-animation{
    position: relative;
    animation-name: button;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
  }
  
  @keyframes button {
    from {
        left: -70%;
        opacity:0;
    }
    to {
        left: 0%;
        opacity: 1;
    }
  }
  .f-48{
      font-size: 48px;
  }
  .height-step{

  height: 200px;
  }
  .padding{
  padding:0px 100px ;

  }
  #border-none{
     border-right: 0px !important;
  }