*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@font-face{
  font-family: Montserrat-Bold;
  src: url(../src/Components/assets/font/Montserrat-Bold.otf);
}
.bg-red-color{
  background-color: #EE1C25;
  color: #fff;
}
.red-color{
  color: #EE1C25 !important;
}
.font{
  font-family: Montserrat-Bold;
  
}
.f-16{
  font-size: 16px;
}



